.registration-form {
    background-image: url(../loginBackground/wallpaper.gif);
    height: 100vh;
    color: white;
    border-radius: 10px;
    padding-top: 100px;   
  
    h1 {
      text-align: center;
    }
  
    form {
      background-color: rgba(0, 0, 0, 0.8);
      flex-direction: column;
      width: 400px;
      padding: 30px;
      border-radius: 8px;
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      
  
      input {
        width: 80%;
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-radius: 5px;
        color: white;
        background: rgba(255, 255, 255, 0.1);
      }
  
      .error {
        color: red;
        margin: 5px 0;
      }
  
      button {
        align-self: center;
        padding: 10px 20px;
        background-color: #C70000;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
      }
      button:hover{
        color: black;
      }
      .links{
        padding: 10px;
      }
      .link{
        color: #001bff;
        text-decoration: none;
        font-size: 15px;  
      }
      .link:hover{
        color: #C70000;
      }
    }
  }
  